section3 {
    background-image: url('../images/layer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
    height: 60vh;
}
#txt5 {
        color: white;
        font-size: 2em;
        margin-top: 4vh;
}