#container2 {
    background-color: white;
    height: 60px;
    z-index: 1;
    div {
        width: 10%;
    }
}
ul.menu {
    width: 65%;
    li { 
        display: inline-block;
        color: black;
        margin-left: 2vw;
        text-decoration: none;
        color: grey;
        cursor: pointer;
        &:hover {
            color: $mainColor;
            }
        }
    }
//sticky menu
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}